# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log

# Env
.env
server/.env
client/.env

# Build
client/dist/
server/dist/

# Editor
.idea/
.vscode/
*.swp


